<!-- ====================
      BASE TEMPLATE 
     ==================== -->
<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <style>
    div#loading {
      width: 50px;
      height: 35px;
      display: none;
      margin-left: 8%;
      margin-bottom: 5px;
      background: url(/static/ajax-loader.gif) no-repeat;
      cursor: wait;
    }

    .buttons a {
      font-size: 16px;
    }

    .buttons a:hover {
      cursor: pointer;
      font-size: 16px;
    }
  </style>
</head>

<body>
  <div class="container-fluid" style="background: #000000">
    <h1 style="color: #ffffff"> Music Note Translator </h1>
  </div>

  <!-- ========== Main ========== -->
  {% block body %}{% endblock %}

  <!-- jQuery first, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
    integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous">
  </script>
  <script>
    function loading() {
      $("#loading").show();
    }

    // The following code was adapted from: https://stackoverflow.com/questions/31799603/show-hide-multiple-divs-javascript
    var divs = ["Div1", "Div2", "Div3"];
    var visibleDivId = null;

    function showDiv(divId) {
      if (visibleDivId === divId) {
        visibleDivId = null;
      } else {
        visibleDivId = divId;
      }
      hideNonVisibleDivs();
    }

    function hideNonVisibleDivs() {
      var i, divId, div;
      for (i = 0; i < divs.length; i++) {
        divId = divs[i];
        div = document.getElementById(divId);
        if (visibleDivId === divId) {
          div.style.display = "block";
        } else {
          div.style.display = "none";
        }
      }
    }
  </script>

</body>

</html>