{% extends "index.html" %}
{% block body %}

<div class="container-fluid">

  <h4>
    <span class="fas fa-images"></span>
    Image Upload
  </h4>
  <hr>

  <p>
    <p style="text-decoration: underline;">How to use:</p>

    <ul>
      <li>Click browse </li>
      <li>Choose your monophonic music score sheet to upload</li>
      <li>Click predict</li>
    </ul>

    <p style="font-style: italic;">
      *NB: Please only use the following file types: .jpg .png .jpeg</li>
    </p>
  </p>
  <br>
  <hr>

  <!-- Flash message -->
  <div class="container-fluid">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="flashes alert alert-primary" role="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p>{{ message }}</p>
      {% endfor %}
    </div>
  </div>

  <!-- Form to upload file -->
  <div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.file }}
      <input type="submit" value="Predict" class="btn btn-outline-primary">
    </form>
  </div>
  <hr>

  <!-- Go back to index -->
  <div class="container">
    <a href="/">Back</a>
  </div>


</div>

{% endblock %}