{% extends "base.html" %}

{% block body %}

<!-- ========== Main ========== -->
<br>
<div class="container-fluid">
  <h5>What is this?</h5>
  <p>
    This app reads monophonic music score sheets, interprets the notes and translates them into the following formats:
  </p>
  <ul>
    <li>Solfege (Do, Re, Mi)</li>
    <li>Letter (C, D, E)</li>
    <li>Number / Cipher (1, 2, 3)</li>
  </ul>
  <p style="font-style: italic;">
    *Monophonic: Music Having a single melodic line
  </p>
  <hr>

  <h5>Who is this for?</h5>
  <p>
    This app is recommended for self-teaching musicians who have a minimum knowledge base of at least one musical
    notation format mentioned above.
  </p>
  <hr>

  <h5>Getting started</h5>
  <p>
    Please select one of the following options:
  </p>

  <a href="/predict">
    <button type="button" class="btn btn-outline-dark">
      <span class="fas fa-images"></span>
      Image Upload
    </button>
  </a>
  <br><br>

  <a href="/camera">
    <button type="button" class="btn btn-outline-dark">
      <span class="fas fa-camera"></span>
      Camera
    </button>
    <br><br>
  </a>

  <a href="handwrite">
    <button type="button" class="btn btn-outline-dark">
      <span class="fas fa-pen"></span>
      Handwrite
    </button>
  </a>
</div>

<hr>
{% endblock %}